<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleConcurrency.DataLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <SimpleConcurrency.DataLayer.Properties.Settings>
            <setting name="GetAllXUsersCmd" serializeAs="String">
                <value>SELECT * FROM XUsers WHERE IsDeleted = 0</value>
            </setting>
            <setting name="GetAllYUsersCmd" serializeAs="String">
                <value>SELECT * FROM YUsers WHERE IsDeleted = 0</value>
            </setting>
            <setting name="GetYUserForEditingSPName" serializeAs="String">
                <value>GetYUserForEditing</value>
            </setting>
            <setting name="AddYUserCmd" serializeAs="String">
                <value>insert into YUsers (FirstName, LastName) values(@FirstName, @LastName); SELECT SCOPE_IDENTITY()</value>
            </setting>
            <setting name="AddXUserCmd" serializeAs="String">
                <value>insert into XUsers (FirstName, LastName, IsDeleted, UpdateDate) values(@FirstName, @LastName, @IsDeleted, @UpdateDate); SELECT SCOPE_IDENTITY()</value>
            </setting>
            <setting name="DeleteXUserSpName" serializeAs="String">
                <value>DeleteXUser</value>
            </setting>
            <setting name="DeleteYUserSPName" serializeAs="String">
                <value>DeleteYUser</value>
            </setting>
            <setting name="UpdateXUserSPName" serializeAs="String">
                <value>UpdateXUser</value>
            </setting>
            <setting name="UpdateYUserSPName" serializeAs="String">
                <value>UpdateYUser</value>
            </setting>
            <setting name="ReleaseYUserSPName" serializeAs="String">
                <value>ReleaseYUser</value>
            </setting>
            <setting name="GetXUserCmd" serializeAs="String">
                <value>SELECT * FROM XUsers WHERE Id=@Id AND IsDeleted = 0</value>
            </setting>
        </SimpleConcurrency.DataLayer.Properties.Settings>
    </applicationSettings>
</configuration>